<% provide(:title, "About") %>
<h1>About</h1>
<p>
  Popular interest in using herbs and herbal preparations to support health is
  increasing. This Herbs Database is intended to support the herbal community
  by enabling users to search for herbs by their properties:
</p>
<ul>
  <li>Foundational (primary) actions</li>
  <li>Clinical (secondary) actions</li>
  <li>Organ/Tissue affinities</li>
  <li>Herbal energetics:<br/>
    <ul>
      <li>Heating</li>
      <li>Cooling</li>
      <li>Drying</li>
      <li>Moistening</li>
      <li>Toning</li>
      <li>Relaxing</li>
    </ul>
  </li>
</ul>
<p>
  <b>Herbs are not necessarily "safe"</b> -- consider Poison Ivy! Some herbs are more
  potent than others. Some are toxic in very small amounts.
</p>
<p>
  Every body is different and any herb may work differently on different
  bodies. Pregnant women especially should exercise caution.  Some people may
  be allergic to certain herbs; for example, those in the daisy family.
</p>
<p>
  <b>If you don't know what you're doing, please consult with someone who does.</b>
  Many trained herbalists, and herbal training opportunities, are available
  across the United States now, as well as in other countries.
</p>
<p>
  Every website has expenses and this site's expenses will be paid by affiliate
  links (hopefully!) rather than by advertising. My hope is to provide a 
  service to the herbal community, not to push anyone's product. 
</p>
<hr/>
<p>
  The author is grateful to Michael Hartl for his
  <a href="http://www.railstutorial.org/"><em>Ruby on Rails Tutorial</em></a>
  for excellent instruction in professional-quality web development using
  Ruby on Rails. The user and session features of this website are based on his
  sample application.
</p>
