<div class="center jumbotron">
  <h1>Welcome to the Herbs Database</h1>

  <div class="well well-sm">
    <h2>
      Soon you will be able to search for herbs by their properties from this page!
    </h2>
  </div>
</div>

