<dt><%= link_to property.name, property_path(property) %></dt>
<dd><%= property.description %>
  <% if editor? %>
    | <%= link_to "edit", edit_property_path(property) %> 
    | <%= link_to "delete", property_path(property), method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</dd>
