<% provide(:title, "Edit Property") %>
<h1>Edit Property</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="form-group">
      <%= form_for(@property, as: :property, url: property_path(@property),
                   html: {method: "patch"}) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :description %>
        <%= f.text_area :description, class: 'form-control' %>

        <%= f.label :type %>
        <%= f.select :type, options_for_select([
              ['Foundational Action', 'FoundationalAction'],
              ['Clinical Action', 'ClinicalAction'],
              ['Organ Affinity', 'Affinity'] ]), class: 'form-control' %>

        <%= f.submit "Save", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
