<% provide(:title, @property.name) %>
<h1><%= @property.name.capitalize %></h1>
<h2><%= display_type(@property) %></h2>
<div class="container">
  <div class="well well-sm">
    <p><%= @property.description %></p>
  </div>
</div>

