<%= will_paginate @properties %>

<dl class="actions">
  <% @properties.each do |property| %>
  <dt><%= link_to property.name, foundational_action_path(property) %></dt>
  <dd><%= property.description %>
    <% if editor? %>
      | <%= link_to "edit", edit_foundational_action_path(property) %> 
      | <%= link_to "delete", foundational_action_path(property), method: :delete,
                              data: { confirm: "You sure?" } %>
    <% end %>
</dd>
<% end %>
</dl>

 <%= will_paginate @properties %>
