<% provide(:title, 'Foundational Actions') %>
<h1>Foundational Actions</h1>

<ul class="nav nav-tabs">
  <li role="presentation" class="active">
    <%= link_to 'Foundational Actions', foundational_actions_path %>
  </li>
  <li role="presentation">
    <%= link_to 'Clinical Actions', clinical_actions_path %>
  </li>
  <li role="presentation">
    <%= link_to 'Organ Affinities', affinities_path %>
  </li>
</ul>

<%#= render 'properties/properties' %>
<%= render 'foundational_actions' %>

