<%= form_for(@herb) do |f| %>
<%= render 'shared/error_messages', object: f.object %>

  <div class='form-group'>
    <%= f.label :name, class: 'control-label' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :latin, "Latin name", class: 'control-label' %>
    <%= f.text_field :latin, class: "form-control" %>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Energetics</h3>
    </div>
    <div class="panel-body">
      <div class='form-group'>
        <div class='col-md-4'>
          <%= f.label :warming, class: 'control-label' %>
          <%= f.select :warming, options_for_select([
                      ['No', '0'],
                      ['Mildly', '1'],
                      ['Moderately', '2'],
                      ['Strongly', '3'] ]), class: 'form-control' %>
        </div>
        <div class='col-md-4'>
          <%= f.label :drying, class: 'control-label' %>
          <%= f.select :drying, options_for_select([
                      ['No', '0'],
                      ['Mildly', '1'],
                      ['Moderately', '2'],
                      ['Strongly', '3'] ]), class: 'form-control' %>
        </div>
        <div class='col-md-4'>
          <%= f.label :toning, class: 'control-label' %>
          <%= f.select :toning, options_for_select([
                      ['No', '0'],
                      ['Mildly', '1'],
                      ['Moderately', '2'],
                      ['Strongly', '3'] ]), class: 'form-control' %>
        </div>
      </div>

      <div class='form-group'>
        <div class="col-md-4">
          <%= f.label :cooling, class: 'control-label' %>
          <%= f.select :cooling, options_for_select([
                      ['No', '0'],
                      ['Mildly', '1'],
                      ['Moderately', '2'],
                      ['Strongly', '3'] ]), class: 'form-control' %>
        </div>
        <div class="col-md-4">
          <%= f.label :moistening, class: 'control-label' %>
          <%= f.select :moistening, options_for_select([
                      ['No', '0'],
                      ['Mildly', '1'],
                      ['Moderately', '2'],
                      ['Strongly', '3'] ]), class: 'form-control' %>
        </div>
        <div class="col-md-4">
          <%= f.label :relaxing, class: 'control-label' %>
          <%= f.select :relaxing, options_for_select([
                      ['No', '0'],
                      ['Mildly', '1'],
                      ['Moderately', '2'],
                      ['Strongly', '3'] ]), class: 'form-control' %>
        </div>
      </div>
    </div>
  </div>

  <%= f.submit "Save", class: "btn btn-primary" %>
<% end %>
