<% provide(:title, 'Herbs') %>
<h1>Herbs</h1>

<%= will_paginate @herbs %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Latin Name</th>
      <th>Warming</th>
      <th>Cooling</th>
      <th>Drying</th>
      <th>Moistening</th>
      <th>Toning</th>
      <th>Relaxing</th>
      <% if editor? %>
      <th colspan="2">Actions</th>
      <% end %>
    </tr>
  </thead>
  <tbody>

    <% @herbs.each do |herb| %>
      <tr>
        <td><%= link_to herb.name.capitalize, herb_path(herb) %></td>
        <td><em><%= herb.latin.capitalize %></em></td>
        <td><%= herb.warming %></td>
        <td><%= herb.cooling %></td>
        <td><%= herb.drying %></td>
        <td><%= herb.moistening %></td>
        <td><%= herb.toning %></td>
        <td><%= herb.relaxing %></td>
        <% if editor? %>
        <td><%= link_to 'edit', edit_herb_path(herb) %></td>
        <td>
          <%= link_to 'delete', herb_path(herb), method: :delete,
                                data: { confirm: "You sure?" } %>
        </td>
        <% end %>
      </tr>
    <% end %>

  </tbody>
</table>

<%= will_paginate @herbs %>
