<% provide :title, "New Herb" %>
<h1>New Herb</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@herb, html: { class: 'form-horizontal' }) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

      <div class='form-group'>
        <%= f.label :name, class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :name, class: 'form-control' %>
        </div>
      </div>

      <div class='form-group'>
        <%= f.label :latin, "Latin name", class: 'col-md-3 control-label' %>
        <div class="col-md-9">
          <%= f.text_field :latin, class: "form-control" %>
        </div>
      </div>

      <div class='form-group'>
        <%= f.label :warming, class: 'col-md-3 control-label' %>
        <div class="col-md-3">
          <%= f.select :warming, options_for_select([
                       ['No', '0'],
                       ['Mildly', '1'],
                       ['Moderately', '2'],
                       ['Strongly', '3'] ]), class: 'form-control' %>
        </div>
        <%= f.label :cooling, class: 'col-md-3 control-label' %>
        <div class="col-md-3">
          <%= f.select :cooling, options_for_select([
                       ['No', '0'],
                       ['Mildly', '1'],
                       ['Moderately', '2'],
                       ['Strongly', '3'] ]), class: 'form-control' %>
        </div>
      </div>

      <div class='form-group'>
        <%= f.label :drying, class: 'col-md-3 control-label' %>
        <div class="col-md-3">
          <%= f.select :drying, options_for_select([
                       ['No', '0'],
                       ['Mildly', '1'],
                       ['Moderately', '2'],
                       ['Strongly', '3'] ]), class: 'form-control' %>
        </div>
        <%= f.label :moistening, class: 'col-md-3 control-label' %>
        <div class="col-md-3">
          <%= f.select :moistening, options_for_select([
                       ['No', '0'],
                       ['Mildly', '1'],
                       ['Moderately', '2'],
                       ['Strongly', '3'] ]), class: 'form-control' %>
        </div>
      </div>

      <div class='form-group'>
        <%= f.label :toning, class: 'col-md-3 control-label' %>
        <div class="col-md-3">
          <%= f.select :toning, options_for_select([
                       ['No', '0'],
                       ['Mildly', '1'],
                       ['Moderately', '2'],
                       ['Strongly', '3'] ]), class: 'form-control' %>
        </div>
        <%= f.label :relaxing, class: 'col-md-3 control-label' %>
        <div class="col-md-3">
          <%= f.select :relaxing, options_for_select([
                       ['No', '0'],
                       ['Mildly', '1'],
                       ['Moderately', '2'],
                       ['Strongly', '3'] ]), class: 'form-control' %>
        </div>
      </div>

      <%= f.submit "Save", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
