<% provide(:title, @herb.name) %>
<div class="row">
  <h1><%= @herb.name %></h1>
  <h2><em><%= @herb.latin %></em></h2>
</div>
<div class="row">
  <table>
    <caption>Energetics</caption>
    <tr>
      <td>Warming</td>
      <td><%= @herb.warming %></td>
    </tr>
    <tr>
      <td>Cooling</td>
      <td><%= @herb.cooling %></td>
    </tr>
    <tr>
      <td>Drying</td>
      <td><%= @herb.drying %></td>
    </tr>
    <tr>
      <td>Moistening</td>
      <td><%= @herb.moistening %></td>
    </tr>
    <tr>
      <td>Toning</td>
      <td><%= @herb.toning %></td>
    </tr>
    <tr>
      <td>Relaxing</td>
      <td><%= @herb.relaxing %></td>
    </tr>
  </table>
</div>
