<footer class="footer">
  <div class="row">
    <div class="col-sm-3">
      <small>Herbs Database by Beth Giobbe</small>
    </div>
    <div class="col-sm-6">
      <small class="text-center">
    For educational purposes only. This information has not been evaluated by
    the Food and Drug Administration. This information is not intended to
    diagnose, treat, cure, or prevent any disease.
      </small>
    </div>
    <div class="col-sm-3">
      <nav>
        <ul>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>

